name: Build My Application
on: push
jobs:
  build:
    name: Build our app
    runs-on: ubuntu-latest
    steps:
      - name: Pull Code
        uses: actions/checkout@v2
#      - name: Hello world
#        uses: actions/hello-world-javascript-action@1
#        with: 
#          who-to-greet: 'Mona the O'
#        id: hello
      - uses: actions/setup-node@v1
          with:
            node-version: 12
            registry-url: 'https://registry.npmjs.org'
      - name: Print Current Directory
        run: pwd
      - name: List Files in Directory
        run: ls
      - name: Check Dotnet CLI
        run: dotnet build
      - name: List Filed in Directory
        run: ls TrickingLibrary.Api/ -R
      - name: Check NPM CLI
        run: npm -v
      - name: Npm ci
        working-directory: ./web-client
        run: npm ci
      - name: Build client app
        working-directory: ./web-client
        run: npm run build
      